@media screen and (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
    }

    #video {
        display: flex;
        justify-content: center;
        background-color: rgb(3, 3, 3);
        border-radius: 20px;
        width: 80%;
        overflow: hidden;
        align-items: flex-start;
        




    }


    main {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        max-width: 96%;
        padding-top: 40px;
        padding-bottom: 40px;

    }

    /* #mobile-box {
        display: flex;
        flex-direction: column;


    } */


    #prototype-graph {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 96%;
        height: 100%;
        margin-left: 2%;
        margin-top: 30px;

    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        border-radius: 20px;
        padding: 2%;
        width: 90%;
        margin-top: 30px;
    }

    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        border-radius: 20px;
        padding: 8%;
        width: 82%;

    }

    #resume:hover {
        transform-origin: bottom left;
        transform: scale(1.0);
    }

    #case-study:hover {
        transform-origin: bottom;
        transform: scale(1.0);
    }

    #prototype:hover {
        transform-origin: top right;
        transform: scale(1.0);
    }

    #graph:hover {
        transform-origin: bottom right;
        transform: scale(1.0);
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
        margin-top: 70px;

    }
    video  {

        width: 90%;
       

    }

    #mobile-box {
        display: flex;
        justify-content: center;
   
    }
    

    #picture-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #picture-box img {
        width:90%;
        height: auto;
    }

    .nav-bar-ul a {
         
        font-size: 20px;
        
    }
.nav-bar {
    padding-top: 6px;
    padding-bottom: 6px;
}

h1 {
    font-size: 20px;
    word-spacing: 20px;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#About-Me {
    display:flex;
    justify-content: center;
}
h2 {

    font-size: 20px;
    font-weight: lighter;
}

#about-container img {
    padding-top:20px;
    width:80%;
    height: auto;
  }

  .block {
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  #about-Me-Body {
      margin-top: -8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
div > p {
    margin-top: 20px;
}

/* section > h2 {

    position: relative;
    bottom: 20px;
    margin-bottom: 1px; */

}
#About-Me > p {
    text-align: left;
    margin-bottom: 30px;    

}

.block > p {
    position: relative;
    bottom: 20px;
}



    

}

}