* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #f2f2f2;
}

header {
  padding: 15% 0 5% 5%;
  font-weight: lighter;
  letter-spacing: 3px;
  word-spacing: 16px;
}

.nav-bar {
  background-color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: 1px 1px 1px grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-bar-ul {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  width: 33%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 900px;
  letter-spacing: 0.6em;
  word-spacing: 50px;
  padding-bottom: 2vh;
}

.juan-background {
  background-image: radial-gradient(center at center,
      rgba(100, 100, 100, 255) 0%,
      rgba(255, 255, 255, 1) 46%,
      rgba(255, 255, 255, 1) 100%);
  margin-top: -40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-style: italic;
  align-items: center;
  padding-bottom: 2vh;
}

.juan-background img {
  width: auto;
  height: 50vh;
  border-radius: 80%;
}

#About-Me {
  padding: 10% 5% 10% 5%;
  background-color: #0a0a0a;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#About-Me {
  padding-top: 10%;
  color: white;
}
#About-Me > img {
  width: 90%;
}

#About-Me p {
  font-size: 16px;
  font-weight: 200;
  line-height: 2em;
}

.carousel img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
  margin-left: 50px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

.block {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.block p {
  padding-left: 10%;
  padding-right: 10%;
}

#block1 {
  background-color: #9ed3e5;
  color: black;
}

#block2 {
  background-color: #6926e0;
  color: white;
}

#block3 {
  background-color: #ba0705;
  color: white;
}

#block4 {
  background-color: #fff2ca;
  color: #6926e0;
  
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.block img {
  max-width: 70%;
  max-height: 40%;
}

/* #about-container {
  display: flex;
  flex-direction: column;
} */


/* body #video {
  align-self: center;
} */

#video {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(3, 3, 3);
  border-radius: 20px;
  width: 80%;
  overflow: hidden;

}

main {
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  width:100%;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

#prototype-graph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 20px;
  padding: 2%;
  width: 30%;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 20px;
  padding: 8%;
  width: 100%;
  max-height: 50%;
}

#graph {
  margin-top: 5%;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.card,
.card2 {
  background-color: rgb(248, 248, 248);
}

#case-study img {
  width: 50%;
  padding: 10px;
}

#case-study>#inner-box1>img {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
}

#case-study>#inner-box2>img {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
}

#resume>img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

#graph>img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

#prototype>img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

#resume,
#prototype,
#graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #case-study {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
  } */

.carousel-filler {
  height: 530px;
  width: 500px;
  background-image: url("./images/children.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Set the below hovers to click 
events as they would interupt viewing 
the video. Click events are seperate from 
touch events so it should not bleed over to mobile */

#resume:hover {
  transform-origin: bottom left;
  transform: scale(1.5);
}

#case-study:hover {
  transform-origin: bottom;
  transform: scale(1.5);
}

#prototype:hover {
  transform-origin: top right;
  transform: scale(1.5);
}

#graph:hover {
  transform-origin: bottom right;
  transform: scale(1.5);
}



h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: lighter;
}

p {
  font-size: small;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 70px;
}

.socialMediaLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

footer hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #0a0a0a;
  width: 70%;
  z-index: 20;
}

.SM-buttons {
  border: 1px solid #0a0a0a;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 20px;
  margin: 5px;
}

footer h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.block>img {
  border-radius: 20px;
  max-height: 70%;

}

#home-background {
  background-color: white;
}

#about-Me-Body {
  height: 60vh;
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

#whiteBox {
  height: 200px;
  width: 300px;
  background-color: #0a0a0a;
  transform-origin: top left;
  z-index: -200;
}


#blackBox {
  height: 200px;
  width: 300px;
  background-image:url(./images/about-me-drawing.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: top left;
  transform: translateY(150px) translateX(-20px);
  z-index: 500;
}



#mobile-box {
  display: flex;
  justify-content: center;
 
}

#about-container img {
  width:40%;
  height: auto;
}